:80 {
    @admin path /admin*
    basicauth @admin {
        ${ADMIN_USERNAME} ${ADMIN_PASSWORD}
    }
    reverse_proxy localhost:8000
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Strict-Transport-Security "max-age=7776000"
        Referrer-Policy no-referrer
        Cache-Control no-store
        -Server
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:"
    }
}
